#gameboard {
  width: 320px;
  height: 320px;
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(161, 0, 0);
}

.square {
  height: 40px;
  width: 40px;
}

.square svg{
  height: 30px;
  width: 30px;
  margin: 5px;
}

.beight {
  background-color: beige;
}

.brown {
  background-color: #ff7f7f;
}

.black {
  fill: rgb(41, 40, 40)
}

.white {
  fill:antiquewhite
}
